// Bower
@import "normalize.scss";
@import "bourbon.scss";


// @import "neat.scss";
// Add any additional Bower imports here, and also remember to add the path to the folder containing them to gulpfile.js in the Stylesheets section

// @import "components/*"

$transition: all 0.5s ease;
$width: 300px;

$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$primary-color: #07447C;
$sidebar-color: darken( $primary-color, 10% );


.navbar {
	background-color: $primary-color;
	color: #ffffff;
	height: 100px;
	div {
		padding: 10px;
	}
	.navlogo {
		height: 60px;
	}
	#login {
		float: right;
	}
}

.sidebar-module {
	width: $width - 30;
	color: #999;
	margin-top: 0px;
	padding: 15px;
	text-align: justify;
	h4 {
		margin: 0;
		color: #eee;
	}
}

html {
	font-family: $font-stack;
}
#wrapper {
	padding-left: 0;
	@include transition( $transition );
}

#wrapper.toggled {
  padding-left: $width;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: $width;
	width: 0;
	height: 100%;
	margin-left: -$width;
	overflow-y: auto;
	background: $sidebar-color;
	@include transition( $transition );
}

#wrapper.toggled #sidebar-wrapper {
  width: $width;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
/* 	padding: 15px; */
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -$width;
}

/* Sidebar Styles */

.sidebar-nav {
/* 	position: absolute; */
	top: 0;
	width: $width;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		text-indent: 20px;
		line-height: 40px;
		a {
			display: block;
			text-decoration: none;
			color: #999999;
			&:hover {
				text-decoration: none;
				color: #fff;
				background: rgba(255,255,255,0.2);
			}
		}
		&:active, &:focus {
			text-decoration: none;
		}
	}
	> .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    a {
			color: #999999;
			&:hover {
				color: #fff;
				background: none;
			}
		}
	}
}

@media(min-width:768px) {
    #wrapper {
        padding-left: $width;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: $width;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
/*         padding: 20px; */
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


h1 {
    color: #07447C;
    font-weight: normal;
    font-size: 1.25em;
    margin: 0.8em 0 0.3em 0;
}

.module {
	background-color: #eee;
	margin: 10px;
	padding: 10px;
	width: $width - 40px;
	border-radius: 0.6em;
	min-height: 0px;
	transition: $transition;
	h1 {
		text-transform: uppercase;
		font-size: 1.1em;
		margin: 0 0 0.3em;
	}
	ul {
    font-size: 0.9em;
    margin: 0;
	}
	a+ul {
		transition: $transition;
		position: absolute; 
		overflow: hidden;
	}
}




#search {
	margin-top: 20%;
	margin-left: 25%;
	width: 50%;
	border: 3px solid $primary-color;
	padding: 10px;
}




















































